div.bubbles {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.bubble {
  margin: 16px;
  padding: 16px 24px;
  max-width: 60%;
  border-radius: 26px;
  position: relative;
  box-shadow: 0 0 8px 4px #00000022;
}

div.bubble.me {
  color: white;
  background-color: indianred;
  align-self: flex-end;
  border-top-right-radius: 6px;
}

div.bubble.you {
  background-color: whitesmoke;
  align-self: flex-start;
  border-top-left-radius: 6px;
}

div.bubble.us {
  background-color: whitesmoke;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
