.graph {
  width: 100%;
  height: 500px;
  margin-bottom: 7px;
  background-color: #f2f2f2;
  border-radius: 6px;
}

.graphin-core {
  position: relative;
  background-color: transparent;
  border-radius: 6px;
}
