.slidecontainer {
  flex: 1;
  margin-right: 16px;
}

/* The slider itself */
.slide {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background-color: rgba(0, 0, 0, 0.25); /* Grey background */
  border-radius: 2px;
  outline: none; /* Remove outline */
  /* opacity: 0.7;  */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slide:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slide::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 10px;
  background: #fff -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
  background: #fff -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15),
    0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15),
    0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer; /* Cursor on hover */
}

.slide::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 8px;
  background: #2185d0; /* Green background */
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15),
    0 0 0 1px rgba(34, 36, 38, 0.15);
  cursor: pointer; /* Cursor on hover */
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #ffffff !important;
}
.ui.toggle.checkbox ~ input:checked ~ .box:before,
.ui.toggle.checkbox ~ input:checked ~ label:before {
  background-color: #ffffff !important;
}
