.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.panel {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: white;
}

.left {
  display: flex;
}

.left .title h1 {
  font-size: 48px;
  /* max-width: 80%; */
}

.link {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

.link svg {
  margin-left: 8px;
}

a.back-arrow {
  position: absolute;
  color: inherit;
  top: 40px;
  left: 40px;
}

.back-arrow svg {
  height: 48px;
  width: 48px;
}

.title-content,
.panel-content {
  padding: 80px;
  max-width: 720px;
}

.title-content {
  display: flex;
}

.title {
  margin-top: 256px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title h1 {
  margin-top: 0;
  margin-bottom: 24px;
}

.large-text {
  font-size: 24px;
}

.link svg {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1025px) {
  .left {
    max-width: 900px;
  }
}

@media screen and (max-width: 1024px) {
  .detail {
    display: unset;
    overflow-y: auto;
    /* flex-direction: column; */
  }

  .panel {
    height: unset;
    /* padding: 16px; */
  }

  .title-content,
  .panel-content {
    padding: 64px;
  }

  .left {
    display: block;
    flex: unset;
    height: unset;
  }

  .left .title {
    margin: 128px 0 8px;
  }

  .left .large-text {
    font-size: 16px;
  }

  /* .left .title h1 {
    max-width: 80%;
  } */

  a.back-arrow {
    position: absolute;
    color: inherit;
    top: 24px;
    left: 24px;
  }

  .link {
    margin-bottom: 128px;
  }

  .link svg {
    width: 24px;
    height: 24px;
  }

  .back-arrow svg {
    height: 32px;
    width: 32px;
  }
}

@media screen and (min-width: 561px) and (max-width: 1024px) {
}

@media screen and (max-width: 560px) {
  .title-content,
  .panel-content {
    padding: 24px;
  }

  .link {
    margin-bottom: 74px;
  }

  .left .title h1 {
    font-size: 28px;
  }
}
