@tailwind base;
@tailwind components;
@tailwind utilities;

/* Departure Mono */
@font-face {
  font-display: swap;
  font-family: DepartureMono;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/DepartureMono-Regular.woff2") format("woff2");
}

/* MDIO */
@font-face {
  font-display: swap;
  font-family: "MDIO";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MDIO-Regular.woff2") format("woff2");
}

:root {
  font-size: 16px;
  --standard-opacity: 0.3;

  /* base theme (light) */
  --color-primary: 26 26 26;
  --color-secondary: 91 91 91;
  --color-surface: 255 255 255;
  --color-home: 241 232 226;
  --color-project: 225 224 208;
  --color-writing: 203 226 238;
  --color-experiment: 237 231 234;
  --color-success: 154 169 147;
  --color-warning: 193 155 78;
  --color-error: 198 112 96;
}

[data-theme="console"] {
  --color-primary: 132 182 177;
  --color-secondary: 86 150 162;
  --color-surface: 11 15 19;
  --color-home: 9 31 46;
  --color-project: 57 59 32;
  --color-writing: 61 47 59;
  --color-experiment: 61 46 34;
  --color-success: 22 128 0;
  --color-warning: 202 138 0;
  --color-error: 220 38 38;

  /* Shiki color scheme awareness */
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    /* font-style: var(--shiki-dark-font-style) !important; */
    /* font-weight: var(--shiki-dark-font-weight) !important; */
    /* text-decoration: var(--shiki-dark-text-decoration) !important; */
  }
}

[data-theme="stone"] {
  --color-primary: 26 26 26;
  --color-secondary: 91 91 91;
  --color-surface: 255 255 255;
  --color-home: 241 232 226;
  --color-project: 225 224 208;
  --color-writing: 203 226 238;
  --color-experiment: 237 231 234;
  --color-success: 22 128 0;
  --color-warning: 202 138 0;
  --color-error: 220 38 38;

  /* Shiki color scheme awareness */
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    /* font-style: var(--shiki-dark-font-style) !important; */
    /* font-weight: var(--shiki-dark-font-weight) !important; */
    /* text-decoration: var(--shiki-dark-text-decoration) !important; */
  }
}

@layer base {
  *:focus {
    @apply outline-1 outline-dashed;
  }

  ::selection {
    background-color: rgb(from currentcolor r g b / var(--standard-opacity));
  }

}

@layer utilities {
  .grid-home {
    @apply grid grid-cols-[1fr_10ch_10ch_20ch_60ch_10ch_1fr] *:px-[1ch];
  }

  .grid-index {
    @apply grid grid-cols-[1fr_10ch_10ch_10ch_10ch_60ch_10ch_1fr] *:px-[1ch];
  }
}

@layer components {
  a {
    @apply underline underline-offset-2 outline-offset-2 hover:outline-1 hover:outline-dashed;
  }

  input[type='range'] {
    @apply appearance-none bg-[transparent];
  }

  input[type='range']::-webkit-slider-runnable-track {
    @apply h-full bg-[transparent];
  }

  input[type='range']::-webkit-slider-thumb {
    @apply bg-[transparent] w-12 h-6 cursor-ew-resize outline-none ;
    -webkit-appearance: none;
    margin-top: -0.5rem; /* align with track */
  }

  input[type='range']::-moz-range-thumb {
    @apply bg-[transparent] w-12 h-6 cursor-ew-resize border-none;
  }

  input[type='range']::-moz-range-track {
    @apply h-full bg-[transparent];
  }

  img, pre {
    @apply outline outline-1 outline-primary outline-dashed;
  }

  pre {
    @apply p-[2ch];
  }
}

