@font-face {
  font-family: "FF Infra";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/5747651/daeb003f-daac-40bb-9b23-c96d01b01c8b.woff2")
      format("woff2"),
    url("/assets/fonts/5747651/09c26253-da3d-4b60-b546-9198f7091673.woff")
      format("woff");
}

@font-face {
  font-family: "FF Infra";
  font-weight: bold;
  font-style: normal;
  src: url("/assets/fonts/5747699/54915934-249d-40b1-820a-c9f2b5274d7f.woff2")
      format("woff2"),
    url("/assets/fonts/5747699/661e5997-c653-4b99-b038-551c9c0b627c.woff")
      format("woff");
}

body {
  margin: 0;
  font-family: "FF Infra", "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  overflow: hidden;
}

a {
  color: inherit;
}

abbr {
  text-decoration: none;
}

code {
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  border-radius: 6px;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

h1 {
  font-size: 48px;
}

ul {
  list-style-type: square;
}

li > ul {
  list-style-type: circle;
}

::selection {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

pre ::selection {
  color: inherit;
  background-color: rgba(169, 171, 173, 1);
}

.inverse::selection {
  color: black;
  background-color: rgba(177, 255, 236, 1);
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 32px;
  }

  .container {
    position: relative;
  }
}
