---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import StylizedImage from "@components/StylizedImage.astro";
import VariantImage from "@components/VariantImage.astro";

import testImage from "../assets/images/toby-avatar.png";
// import avatarG from "../assets/images/toby-avatar-g.png";
// import avatarP from "../assets/images/toby-avatar-p.png";

const projects = await getCollection("projects");
---

<BaseLayout pageTitle="About">
  <h1>TODO IMPLEMENT HOMEPAGE</h1>
  <StylizedImage src={testImage} alt="" class="" />
  <!-- <VariantImage src={avatarP} srcDark={avatarG} alt="" /> -->
</BaseLayout>
