---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Experiments">
  <ul>
    <li><a href="/experiments/loops.html">Loops</a></li>
    <li><a href="/experiments/peano.html">Peano</a></li>
    <li><a href="/experiments/phosphor.html">Phosphor Test</a></li>
    <li><a href="/experiments/phosphor-font.html">Phosphor Font Test</a></li>
  </ul>
</BaseLayout>
