---
import BaseLayout from "@layouts/BaseLayout.astro";

const pages = Object.keys(import.meta.glob("./*.astro")).map((path) => ({
  name: path.replace("./", "").replace(".astro", ""),
  url: path.replace("./", "").replace(".astro", ""),
}));
---

<BaseLayout pageTitle="Experiments">
  <ul>
    {
      pages.map((page) => (
        <li>
          <a href={`/experiments/${page.url}`}>{page.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
