header {
  max-width: 900px;
  margin: 160px;
}

.highlight {
  color: white;
  background-color: black;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}

.links a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  header {
    margin: 32px;
  }
}
