---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"figure"> {
  title?: string;
  caption?: string;
  chrome?: boolean;
}

const { title, caption, chrome, class: clazz, ...props } = Astro.props;
---

<figure
  {...props}
  class:list={[
    clazz,
    "relative w-fit rounded-lg border border-current",
    "overflow-clip",
  ]}
>
  {
    title && (
      <figcaption class="px-2 py-1 border-b border-current text-center font-bold">
        {title}
      </figcaption>
    )
  }
  {
    chrome && (
      <div class="absolute top-2.5 start-2.5 inline-flex items-center gap-2">
        <div class="w-3 h-3 rounded-full border" />
        <div class="w-3 h-3 rounded-full border" />
        <div class="w-3 h-3 rounded-full border" />
      </div>
    )
  }
  <slot />
  {
    caption && (
      <figcaption class="px-2 py-1 border-t border-current text-sm">
        {caption}
      </figcaption>
    )
  }
</figure>
