---
const year = new Date().getFullYear();
---

<footer class="flex items-center justify-between gap-4">
  <span>Copyright © {year} Tobias Fried</span>
  <span>Designed by <a href="https://helenazhang.com">Helena Zhang</a></span>
</footer>
