---
const { pathname } = Astro.url;
const items = {
  "/": "Me",
  "/projects": "Projects",
  "/writing": "Writing",
  "/experiments": "Experiments",
} as const;
---

<header class="sticky top-0 z-[1] bg-green dark:bg-black">
  <nav class="flex flex-wrap gap-4 font-mono uppercase bg-current">
    {
      Object.entries(items).map(([path, title]) => (
        <a
          href={path}
          class:list={{
            underline:
              path === "/" ? path === pathname : pathname.startsWith(path),
            "bg-current": pathname === path,
          }}
        >
          <span class:list={{ "bg-current": pathname === path }}>{title}</span>
        </a>
      ))
    }
  </nav>
</header>
