---
import { Image, type LocalImageProps } from "astro:assets";

export type Props = LocalImageProps;

const { ...props } = Astro.props;
---

<div
  class:list={[
    props.class,
    "overflow-clip",
    "relative inline-block",
    `before:absolute before:inset-0 before:bg-blue dark:before:bg-brightGreen before:mix-blend-hue`,
    `after:absolute after:inset-0 after:bg-white after:mix-blend-multiply`,
  ]}
>
  <Image {...props} class:list={[props.class, "block h-auto max-w-full"]} />
</div>
