---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { omitDraftEntries, sortedCollectionByYear } from "@utils/content";

const projects = await getCollection("projects", omitDraftEntries);
const sortedProjectsByYear = sortedCollectionByYear(projects);
---

<BaseLayout pageTitle="Projects">
  <ul>
    {
      sortedProjectsByYear.map(([year, projects]) => (
        <Fragment>
          <h2>{year}</h2>
          {projects.map((project) => (
            <li>
              <a class="font-bold" href={`/projects/${project.id}`}>
                {project.data.title}
              </a>{" "}
              :: {project.data.description}
            </li>
          ))}
        </Fragment>
      ))
    }
  </ul>
</BaseLayout>
